:root {
    --space-color: #201F1D;
    --stars-color: #F6DBA8;
    --title-color: #F3DC50;
    --text-color: #DA8890;
    --light-green: #A9AD5A;
    --dark-green: #313833;
}

body {
    background-color: var(--space-color);
    font-family: "bungee", serif;
    overflow-x: hidden;
}

/******************************************************************************/
/* mainSection */
/******************************************************************************/

.mainSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(assets/stars.svg);
}

.left-meteoroid {
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.right-meteoroid {
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
}

.centered-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 66.67vw;
    margin: auto;
    
    /* overflow: hidden; */
}

#main-title {
    position: absolute;
    transform: scale(1.7);
    top: 10vh;
}

#planet-alpha {
    position: absolute;
    top: 15vh;
}

#table {
    position: absolute;
    top: 50vh;
}

#planet-opponent {
    position: absolute;
    overflow: hidden;
    top: 70vh;
}

#planet-watcher {
    position: absolute;
    top: 70vh;
    left: 10vw;
}

/******************************************************************************/
/* introductionSection */
/******************************************************************************/

.introductionSection {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/stars.svg);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.leftDescription {
    display: flex;
    justify-content: start;
    align-items: start;
    gap : 2%;
    margin-left: 20%;
    
    transform: translateY(50%) scale(1.3);
}


.right-racket {
    position: absolute;
    top: 50vh;
    right: 4vw;
}

.leader-image {
    border-radius: 7px;
    box-shadow: -1px -1px 15px  -2px #FF4622;
}

.text-describing {
    max-width: 60%;
    text-align: center;
    font-size: 1em;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    line-height: 3;
    
    font-family: "bungee", serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    padding: 1%;
}

.des-title {
    font-size: 2em;
    margin: 0;
    color: var(--text-color);
}

.des-parag {
    margin: 0;
    font-size: 1.3em;
    color: white;
}


/******************************************************************************/
/* 1v1DesSection */
/******************************************************************************/


.Des1v1Section  {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/stars.svg);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.centredDescription {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2%;
    
    
    transform: translateY(10%) scale(1.3);
}

/******************************************************************************/
/* DesAiSection */
/******************************************************************************/


.DesAiSection   {
    
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/stars.svg);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************************************************************/
/* DesTournSection */
/******************************************************************************/

.DesTournSection {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/stars.svg);

    display: flex;
    align-items: center;
}

.right-description {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 2%;
    margin-right: 20%;


    transform: translateY(50%) scale(1.3);
}

.right-description .leader-image {
    order: 2;
}


.left-racket {
    position: absolute;
    top: 70vh;
    left: 4vw;
}

body {
    margin: 0;
    height: 200vh; /* This ensures there's enough content to scroll */
    background-color: #000; /* Dark background to emphasize the planet */
}

.planet {
    position: absolute;
    left: 50%;
    bottom: -40%;
    transform: translateX(-50%);
}

