:root {
    --space-color: #201F1D;
    --stars-color: #F6DBA8;
    --title-color: #F3DC50;
    --text-color: #DA8890;
    --light-green: #A9AD5A;
    --dark-green: #313833;
}

body {
    background-color: var(--space-color);
    font-family: "bungee", serif;
}

/******************************************************************************/
/* mainSection */
/******************************************************************************/

.mainSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(assets/stars.svg);
}

.left-meteoroid {
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.right-meteoroid {
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
}

.centered-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 66.67vw;
    margin: auto;
    
    /* overflow: hidden; */
}

#main-title {
    position: absolute;
    width: 1200px;
    top: 10vh;
}

#planet-alpha {
    position: absolute;
    top: 15vh;
}

#table {
    position: absolute;
    top: 50vh;
}

#planet-opponent {
    /* width: 1000px; */
    position: absolute;
    top: 70vh;
}

#planet-watcher {
    position: absolute;
    top: 70vh;
    left: 10vw;
}

/******************************************************************************/
/* introductionSection */
/******************************************************************************/

.introductionSection {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/stars.svg);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.universe-description {
    margin-left: 8%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;

    transform: translateX(-10%) translateY(60%) scale(1.4);
}


.right-racket {
    position: absolute;
    top: 50vh;
    right: 4vw;
}

.leader-image {
    border-radius: 7px;
    box-shadow: -1px -1px 15px  -2px #FF4622;
}

.text-describing {
    max-width: 50%;
    text-align: center;
    font-size: 1em;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    line-height: 3;

    font-family: "bungee", serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    padding: 1%;
}

.des-title {
    font-size: 2em;
    margin: 0;
    color: var(--text-color);
}

.des-parag {
    margin: 0;
    font-size: 1.3em;
    color: white;
}

