<div class="layout-container">
    <img class="layout-meteoroid" src="assets/R-meteoroid.svg" alt="right-meteoroid">
    
    <div layout="sidebar">
        <div class="sidebar-logo">
            <img src="assets/icons/logo.svg" alt="The logo">
        </div>
        <div class="sidebar-menu">
            <img src="assets/icons/home.svg" alt="Home">
            <img src="assets/icons/notification.svg" alt="Notification">
            <img src="assets/icons/play.svg" alt="Play">
            <img src="assets/icons/shop.svg" alt="Shop">
        </div>
        <div class="sidebar-actions">
            <img src="assets/icons/settings.svg" alt="Settings">
            <img src="assets/icons/logout.svg" alt="Logout">
        </div>
    </div>


    <div layout="navbar">
        <div class="navbar-welcome">
            <img src="assets/Leader.svg" alt="Leader">
            <div>
                <h2>Welcome back, <span></span></h2>
                <p>are you ready for your journey</p>
            </div>
        </div>
        <div class="navbar-search">
            <form>
                <input id="search-bar" type="text" placeholder="🍆 Seach here">
            </form>
        </div>
    </div>

    <!-- Content container where page content will be loaded -->
    <div class="page-content-container">
        <!-- Page content will be loaded here -->
    </div>
</div>