<div class="layout-container">
    <img class="layout-meteoroid" src="assets/R-meteoroid.svg" alt="right-meteoroid">
    <div layout="sidebar">
        <div class="sidebar-logo">
            <img src="assets/icons/logo.svg" alt="The logo">
        </div>
        <div class="sidebar-menu">
            <a href="#home"><i name="home" class="icon fa-solid fa-house fa-3x"></i></a>
            <i name="notification" class="icon fa-solid fa-bell fa-3x"></i>
            <a href="#play"><i name="play" class="icon fa-solid fa-table-tennis-paddle-ball fa-3x"></i></a>
            <a href="#shop"><i name="shop" class="icon fa-solid fa-shop fa-3x"></i></a>
        </div>
        <div class="sidebar-actions">
            <a href="#settings"><i name="settings" class="icon fa-solid fa-gear fa-3x"></i></a>
            <a href="#story"><i name="logout" class="icon fa-solid fa-right-from-bracket fa-3x"></i></a>
        </div>
    </div>


    <div layout="navbar">
        <div class="navbar-welcome">
            <img src="assets/Leader.svg" alt="Leader">
            <div>
                <h2>Welcome back, <span></span></h2>
                <p>are you ready for your journey</p>
            </div>
        </div>
        <div class="navbar-search">
            <form>
                <input id="search-bar" type="text" placeholder="🍆 Seach here">
            </form>
        </div>
    </div>

    <!-- Content container where page content will be loaded -->
    <div class="page-content-container">
        <!-- Page content will be loaded here -->
    </div>
</div>