blinker==1.4
channels==4.2.0
cryptography==3.4.8
daphne==4.0.0
Django==5.1.4
django-cors-headers==4.6.0
httplib2==0.20.2
importlib-metadata==4.6.4
oauthlib==3.2.0
Pygments==2.11.2
PyJWT==2.10.1 
pyparsing==2.4.7
sqlparse==0.5.3
python-decouple==3.6
psycopg2-binary==2.9.1
Pillow==8.4.0
py-solc-x==0.6.0
python-dotenv==1.0.1

web3==6.11.1
eth-typing==3.5.1

pytest==8.3.4
pytest-django==4.10.0
