.settingsPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/stars.svg);
    overflow: hidden;
}

.settingsPage .meteoroid {
    position: absolute;
    height: 150px;
    top: 10px;
    right: 2%;
    /* text-align: right; */
}

/******************************************************************************/
/* LAYOUT SIDE-BAR */
/******************************************************************************/

[layout="sidebar"] {
    position: absolute;
    background-color: #DA8890;
    height: 90%;
    width: 5%;
    top: 2%;
    left: 2%;
    padding: 20px 0;

    border-radius: 20px;
    background-color: rgb(236, 236, 236, 0.39);
    border: 5px solid #FF4622;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

[layout="sidebar"]::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F5DAA7;
    position: absolute;
    bottom: 25%;
    left: 0;
}

[layout="sidebar"] .sidebar-logo {
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}

[layout="sidebar"] .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Space between icons */
    flex-grow: 0.4; /* Pushes actions to bottom */
    width: 50%;
}

[layout="sidebar"] .sidebar-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-grow: 0.2;
    width: 50%;
}

/******************************************************************************/
/* LAYOUT NAV-BAR  */
/******************************************************************************/

[layout="navbar"] {
    position: absolute;
    width: 80%;
    height: 100px;
    top: 4%;
    left: 12%;
    /* background-color: #F5DAA7; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

[layout="navbar"] .navbar-welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}

[layout="navbar"] .navbar-welcome img {
    /* Your styles here */
    width: 80px;
    height: 90px;
    border-radius: 7px;
    box-shadow: -1px -1px 5px -1px #FF4622;
}

[layout="navbar"] .navbar-welcome div {
    margin-top: 20px;
}

[layout="navbar"] .navbar-welcome h2 {
    color: var(--text-color);
    font-size: 30px;
    margin: 0;
}

[layout="navbar"] .navbar-welcome p {
    color: var(--white);
    font-size: 20px;
}

[layout="navbar"] .navbar-search {
    width: 30%;
    margin-right: 15px;

    display: flex;
    justify-content: flex-end;
}


[layout="navbar"] .navbar-search input {
    height: 40px;

    border-radius: 5px;
    border: none;
    background-color: #4C4241;
    font-family: "bungee", serif;
    color: var(--white);
    font-size: large;
    padding-left: 15px;
    outline: none;
}

/******************************************************************************/
/* LAYOUT SETTINGS-CONTENT  */
/******************************************************************************/

[layout="settings-content"] {
    position: absolute;
    top: 15%;
    left: 12%;
    height: 80%;
    width: 86%;

    border-radius: 10px; /* Rounded corners */
    
    /* Border with a linear gradient */
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(#1C1B19, #1C1B19), /* Inner solid background */
        linear-gradient(to bottom, 
            rgba(225, 201, 154, 0.32) 0%, 
            rgba(247, 105, 66, 0.32) 28%, 
            rgba(239, 140, 98, 0.32) 60%,
            rgba(225, 201, 154, 0.32) 99%
        ); /* Border gradient */
}


[layout="settings-content"]::after {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    position: absolute;
    top: 10%;
    left: 5%;

    /* Apply linear gradient */
    background-image: linear-gradient(to bottom, 
        rgba(225, 201, 154, 0.32) 0%, 
        rgba(247, 105, 66, 0.32) 28%, 
        rgba(239, 140, 98, 0.32) 60%,
        rgba(225, 201, 154, 0.32) 99%
    );
}

.line1 {
    margin-top: -10px;
    width: 88%;
    height: 2px;
    background-image: linear-gradient(to bottom, 
        rgba(225, 201, 154, 0.32) 0%, 
        rgba(247, 105, 66, 0.32) 28%, 
        rgba(239, 140, 98, 0.32) 60%,
        rgba(225, 201, 154, 0.32) 99%
    );
    position: absolute;
}

.line2 {
    margin-top: -10px;
    width: 88%;
    height: 2px;
    background-image: linear-gradient(to bottom, 
        rgba(225, 201, 154, 0.32) 0%, 
        rgba(247, 105, 66, 0.32) 28%, 
        rgba(239, 140, 98, 0.32) 60%,
        rgba(225, 201, 154, 0.32) 99%
    );
    position: absolute;
}

.line3 {
    margin-top: -10px;
    width: 88%;
    height: 2px;
    background-image: linear-gradient(to bottom, 
        rgba(225, 201, 154, 0.32) 0%, 
        rgba(247, 105, 66, 0.32) 28%, 
        rgba(239, 140, 98, 0.32) 60%,
        rgba(225, 201, 154, 0.32) 99%
    );
    position: absolute;
}



[layout="settings-content"] .settings {
    position: absolute;
    left: 5%;
    font-size: 40px;
    color: var(--text-color);
}



/* **************************************************
   SETTINGS CONTENT  
   ************************************************** */
   .settings-content {
    width: 88%;
    height: 78%;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 7%;
}

[setting-part="password-and-auth"] {
    height: 35%;
}

/* ****************************** */
/*  PROFILE PICTURE  */
/* ****************************** */
[setting-part="profile-picture"] {
    height: 20%;
    margin-bottom: 20px;
}

[setting-part="profile-picture"] h2 {
    color: var(--white);
}

.profile-picture-container {
    margin-left: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 150px;
}

.profile-picture-container [profileElement="pic"] {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #FF4622;
    overflow: hidden;
}

.profile-picture-container [profileElement="pic"] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-container [profileElement="form"] {
    height: 60px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.profile-picture-container [profileElement="form"] input:hover {
    transform: scale(1.05);
}

.profile-picture-container [profileElement="form"] input {
    width: 50%;
    padding: 8px 15px;
    font-size: 17px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.profile-picture-container [profileElement="form"] input:nth-child(1) {
    background-color: #FF4322;
    color: #000;
    font-family: inherit;
}

.profile-picture-container [profileElement="form"] input:nth-child(2) {
    background-color: #6F6F6E;
    -webkit-text-stroke: 0.6px black;
    color: #AE2727;
    font-family: inherit;
}

.profile-picture-container [profileElement="form"] input:nth-child(1):hover {
    background-color: #FF2F15;
}

.profile-picture-container [profileElement="form"] input:nth-child(2):hover {
    background-color: #5E5E5B;
}

/* ****************************** */
/*  PERSONAL INFORMATION  */
/* ****************************** */
[setting-part="personal-information"] {
    height: 35%;
    display: flex;
    flex-direction: column;
}

[setting-part="personal-information"] h2 {
    color: var(--white);
}

.personal-information-container {
    width: 70%;
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.personal-information-container div[change] {
    width: 40%;
    height: 70px;
}

.personal-information-container div[change] label {
    display: block;
    margin-bottom: 5px;
    color: var(--white);
    font-size: 16px;
}

.personal-information-container div[change] input {
    width: 100%;
    height: 50px;
    background-color: rgba(208, 174, 174, 0.72);
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-family: inherit;
}

/* ****************************** */
/*  PASSWORD & AUTHENTICATION  */
/* ****************************** */
[setting-part="password-and-auth"] h2 {
    color: var(--white);
}

.password-and-auth-container {
    width: 70%;
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.password-and-auth-container div[change] {
    width: 40%;
    height: 70px;
}

.password-and-auth-container div[change] label {
    display: block;
    margin-bottom: 5px;
    color: var(--white);
    font-size: 16px;
}

.password-and-auth-container div[change] input {
    width: 100%;
    height: 40px;
    background-color: rgba(208, 174, 174, 0.72);
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-family: inherit;
}

.password-and-auth-container div[change] input[type="checkbox"] {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.password-and-auth-container [change="otpLogin"]    {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


/* ****************************** */
/*  SUBMIT BUTTON  */
/* ****************************** */

[setting-part="submit-button"]  {
    display: flex;
    justify-content: flex-end;
}

.settings-content button[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF4622;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    align-self: center;
    margin-top: 20px;
}

.settings-content button[type="submit"]:hover {
    background-color: #D53C1F;
}


