/*****************************************************************/
/*  404     PAGE   */

.pnf-container {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/stars.svg);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
    text-align: center;
}

#error-message {
    color: #fff;
    font-size: 100px;
}

