
/******************************************************************************/
/* LAYOUT CHOOSE-MODE  */
/******************************************************************************/

[layout="choose-mode"] {
    position: absolute;
    top: 15%;
    left: 12%;
    height: 80%;
    width: 86%;

    display: flex;
    justify-content: space-around;
    gap: 8px;

    border-radius: 10px;
    
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(#1C1B19, #1C1B19),
        linear-gradient(to bottom, 
            rgba(225, 201, 154, 0.32) 0%, 
            rgba(247, 105, 66, 0.32) 28%, 
            rgba(239, 140, 98, 0.32) 60%,
            rgba(225, 201, 154, 0.32) 99%
        );
}

[layout="choose-mode"] [mode] {
    margin-top: 3rem;
    height: 80%;
    width: 25%;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    border: 3px solid #F6DBA8;
    background-color: #6F6F6E;
}

[layout="choose-mode"] [mode] h1 {
    margin: 0;
    font-size: 50px;
    color: var(--text-color);
    -webkit-text-stroke: 1px black;
}

[layout="choose-mode"] [mode] h2 {
    font-size: 30px;
    color: var(--white);
    -webkit-text-stroke: 0.7px black;
}


[layout="choose-mode"] [mode="1v1"] {
    position: relative;
    background: linear-gradient(120deg, 
    rgba(14, 219, 255) 0%,
    rgba(101, 81, 288) 29%,
    rgba(157, 34, 228) 68%, 
    rgba(142, 97, 7) 100%);
}

[layout="choose-mode"] [mode="1v1"] img {
    position: absolute;
    height: 500px;
    top: -1rem;
}

[layout="choose-mode"] [mode="1vAI"] {

    background: linear-gradient(30deg, 
            rgba(12, 23, 54) 0%, 
            rgba(102, 149, 201) 34%, 
            rgba(7, 7, 12) 66%, 
            rgba(43, 45, 94) 100%);
    
    background-position: center;
    background-repeat: no-repeat;
}

[layout="choose-mode"] [mode="1vAI"] img {
    position: absolute;
    width: 550px;
    top: 5rem;
}


[layout="choose-mode"] [mode="tourn"] {
    background: linear-gradient(160deg,
    rgba(246, 204, 106) 0%,
    rgba(243, 150, 29) 26%,
    rgba(126, 111, 82) 81%,
    rgba(19, 22, 36) 100%
    );
}

[layout="choose-mode"] [mode="tourn"] img {
    position: absolute;
    width: 550px;
    top: -5rem;
    right: -4rem;
}


[layout="choose-mode"] [mode="local"] {
    position: absolute;
    bottom: 15px;
    width: 50rem;
    height: 85px;
    background-color:#6F6F6E;

    display: flex;
    justify-content: center;
    align-items: center;
}

[mode="local"] h1 {
    -webkit-text-stroke: 1px red;
}